@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
    <style>
        h1 {
            text-align: center;
            color: blue;
        }

        .list-item {
            text-align: center;
            text-decoration-color: green;
            height: 20px;
            border-radius: 14px;
            padding: 20px 30px 10px;
        }
    </style>
</head>
<body>
    <h1>PHAN MEM QUAN LY CUA HANG</h1>
    <div class="list-item">
        <a href="~/UI/MH_DANHSACH_SANPHAM.cshtml"><input type="button" value="DANH SACH SAN PHAM" /></a>
    </div>

    <div class="list-item">
        <a href="~/UI/MH_DANHSACH_LOAIHANG.cshtml"><input type="button" value="DANH SACH LOAI HANG" /></a>
    </div>

    <div class="list-item">
        <a href="~/UI/MH_DANHSACH_HOADON.cshtml"><input type="button" value="DANH SACH HOA DON" /></a>
    </div>

    <div class="list-item">
        <a href="~/UI/MH_THONGKE_HANGHETHANSUDUNG.cshtml"><input type="button" value="THONG KE HANG HET HAN SU DUNG" /></a>
    </div>

    <div class="list-item">
        <a href="~/UI/MH_THONGKE_HANGTONKHO.cshtml"><input type="button" value="THONG KE HANG TON KHO" /></a>
    </div>
</body>
</html>
