@using DoAnLTHDT.BUSSINESS_SERVICE
@using DoAnLTHDT.ENTITIES_OBJECT

@{
    Layout = null;
    string Chuoi = string.Empty;
    var xl = new XL_LOAIHANG();
    var keyword = string.Empty;

    if (IsPost)
    {
        keyword = Request["keyword"];
    }
    List<LOAIHANG> dsLoaiHang = xl.TimLoaiHang(keyword);

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        h1 {
            text-align: center;
            color: blue;
        }

        h3 {
            text-decoration: underline;
            color: forestgreen;
            text-align: center;
        }

        .dsLH {
            padding-left: 30%;
            padding-right: 30%
        }
    </style>
</head>
<body>
    <h1>DANH SACH LOAI HANG</h1>
    <div style="text-align: center">

        <form action="~/UI/MH_DANHSACH_LOAIHANG.cshtml" method="post">
            <h3>Tìm kiếm:</h3> <br />
            <input type="text" name="keyword" value="" placeholder="Search" />
            <input type="submit" value="Search" />
        </form>
        <br />
    </div>


    <div class="dsLH">
        <table style="width: 400px">
            <tr>
                <th>ID</th>
                <th>LoaiHang</th>
                <th>Xử lý</th>
            </tr>
            @foreach (var sp in dsLoaiHang)
            {
                <tr>
                    <td>@sp.ID</td>
                    <td>@sp.LoaiHang</td>

                    <td>
                        <a href="~/UI/MH_XOA_LOAIHANG.cshtml?id=@sp.ID"><input type="button" value="Delete" /></a>
                        <a href="~/UI/MH_SUA_LOAIHANG.cshtml?id=@sp.ID"><input type="button" value="Update" /></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />

    <div style="text-align: center">
        <form action="~/UI/MH_THEM_LOAIHANG.cshtml" method="post">
            <a href="~/UI/MH_THEM_LOAIHANG.cshtml">
                <input type="button" value="Them loai hang" />
            </a>
        </form>
    </div>


    <br />
    <div style="text-align: center">
        <form action="~/UI/Index.cshtml" method="post">
            <a href="~/UI/Index.cshtml">
                <input type="button" value="Back to Main page" />
            </a>
        </form>
    </div>
</body>
</html>

